body {
    background-color: #121212;
    font-family: 'Catamaran', sans-serif;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.name {
    margin-top: 50px;
    margin-bottom: 25px;
    letter-spacing: 4pt;
    font-size: 64px;

}

.links {
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}

#linkedin, #github, #resume, #email {
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile img {
    width: 400px;
    margin-right: 20px;
    border-radius: 5px;
}

.bio {
    width: 400px;
    color: #ffffff;
    font-size: 1.2rem;
}

footer {
    color: #ffffff;
    text-align: center;
}